%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [debug_info]}.
{deps, [
        {cowboy, ".*", {git, "git://github.com/extend/cowboy", {tag, "1.1.2"}}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney", {tag, "1.12.1"}}},
        {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse", {branch, "master"}}}
       ]}.
